APP_NAME="Rafen Self-Hosted"
APP_ENV=production
APP_VERSION=main-dev
APP_COMMIT=
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rafen_selfhosted
DB_USERNAME=rafen
DB_PASSWORD=

SESSION_DRIVER=file
QUEUE_CONNECTION=database
CACHE_STORE=file

LICENSE_SELF_HOSTED_ENABLED=true
LICENSE_ENFORCE=true
LICENSE_PUBLIC_KEY=
LICENSE_PUBLIC_KEY_EDITABLE=false
LICENSE_FILE_PATH=storage/app/license/rafen.lic
LICENSE_MACHINE_ID_PATH=/etc/machine-id
LICENSE_DEFAULT_GRACE_DAYS=21
SELF_HOSTED_REGISTRY_URL=
SELF_HOSTED_REGISTRY_TOKEN=
SELF_HOSTED_HEARTBEAT_STALE_AFTER_MINUTES=60
SELF_HOSTED_UPDATE_MANIFEST_URL=
SELF_HOSTED_UPDATE_CHANNEL=stable
SELF_HOSTED_UPDATE_REPOSITORY=git@github.com:hardiagunadi/rafen-selfhosted-next.git
SELF_HOSTED_UPDATE_WORKDIR=/var/www/rafen-selfhosted-next
SELF_HOSTED_UPDATE_IGNORE_DIRTY_WORKTREE=false

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
